<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Groupwork 6</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body class="bg-pink-50">
  <div id="app">
      <form @submit="checkForm">
        <div class="container w-2/5 p-8 mx-auto mt-10 border rounded-lg border-pink-300 text-pink-800 bg-pink-100">
            <div class="grid grid-cols-4">
                <img v-bind:src="image" class="rounded-lg " width="100">
                <h1 class="text-2xl pt-8 pb-4">{{name}}</h1>
            </div>
            <p v-if="errors" class="text-red-500 pt-5">
                <b>Please correct the following error(s):</b>
                <ul>
                   <li v-for="error in errors" class="text-red-500">{{ error }}</li> 
                </ul>
            </p>
            <div class="grid grid-cols-2 gap-4 pt-5">
                <div class="flex flex-col">
                    <label for="firstname" class="text-sm leading-7 text-pink-800">First Name</label>
                    <input type="text" id="firstname" v-model="firstname" name="firstname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label for="lastname" class="text-sm leading-7 text-pink-800">Last Name</label>
                    <input type="text" id="lastname" v-model="lastname" name="lastname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label for="username" class="text-sm leading-7 text-pink-800">Username</label>
                    <input type="text" id="username" v-model="username" name="username" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label class="text-sm leading-7 text-pink-800">Gender</label>
                    <div class="flex flex-row pt-2 space-x-2">
                        <input type="radio" id="Male" v-model="gender" name="gender" value="M" class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <label for="Male">Male</label>
                        <input type="radio" id="Female" v-model="gender" name="gender" value="F" class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <label for="Female">Female</label>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label for="email" class="text-sm leading-7 text-pink-800">Email</label>
                    <input type="text" id="email" v-model="email" name="email" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col">
                    <label for="phone"class="text-sm leading-7 text-pink-800">Phone Number</label>
                    <input type="text" id="phone" v-model="phone" name="phone" class="bg-gray-100 rounded px-4 py-2 mb-4">
                </div>
                <div class="flex flex-col col-span-2">
                    <label for="chosensocialmedia" class="text-sm leading-7 text-pink-800">Social Media</label>
                    <select id="chosensocialmedia" v-model="chosensocialmedia" name="chosensocialmedia"
                        class="bg-gray-100 rounded px-4 py-2 mb-4">
                        <option v-for="socialmedia in socialmedia_lists" :value="socialmedia.socialmedia_id">
                            {{socialmedia.socialmedia_name}}
                        </option>
                    </select>
                </div>
                <div >
                    <input type="submit" value="Submit" class="px-8 py-2 text-white bg-pink-500 rounded-lg hover:bg-pink-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
                </div>
            </div>
        </div>                            
      </form>
  </div>

  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>